* {
    box-sizing: border-box;
    text-align: center;
  }
  body {
    margin: 0;
    font-size: 20px;
  }
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
.column {
    float: left;
    padding: 20px;
  }
  .column.side {
    width: 25%;
  }
  .column.middle {
    width: 50%;
  }
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 200px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  .footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }